extends layout

block content

  nav#mainmenu.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a.navbar-brand#add-cube(href="#") Add Cube
      a.navbar-brand#add-mycube(href="#") Add My Cube

  a-scene(persistent-p2p networked-scene="room: basic; debug: true; adapter: wseasyrtc;")
  
    a-assets
      //- img(id="skyTexture" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/sechelt.jpg")
      img(id="skyTexture" src="/images/background.png")
      img(id="groundTexture" src="https://cdn.aframe.io/a-painter/images/floor.jpg")

      //- Templates
      //- Camera Rig / Player
      //- template(id="rig-template")
      //-   a-entity

      //- Head / Avatar // a few spheres make a head + eyes + pupils
      template(id="avatar-template")
        a-entity(class="avatar")
          //- notice this child sphere, with class .head, has the random-color component; this modifies the material component's color property
          a-sphere(class="head" scale="0.2 0.22 0.2" random-color)
          a-entity(class="face" position="0 0.05 0")
            //- eye 1
            a-sphere(class="eye" color="white" position="0.06 0.05 -0.16" scale="0.04 0.04 0.04")
              a-sphere(class="pupil" color="black" position="0 0 -1" scale="0.2 0.2 0.2")
            //- eye 2
            a-sphere(class="eye" color="white" position="-0.06 0.05 -0.16" scale="0.04 0.04 0.04")
              a-sphere(class="pupil" color="black" position="0 0 -1" scale="0.2 0.2 0.2")
      
      template(id="my-test")
        a-entity(geometry="primitive:box" material="color:red" mycube)

      template(id="mycube-template")
        a-mycube
    
    //- Here we declare only the local user's avatar, which we then broadcast to other users
    a-entity(id="rig")
      //- Here we add the camera.
      a-entity(
        id="player"
        camera
        position="0 2.5 0"
        spawn-in-circle="radius:3"
        look-controls
        wasd-controls
        networked="template:#avatar-template;attachTemplateToLocal:false;"
        visible="false"
      )
        a-sphere.head(visible="false" random-color)

    //- environment
    a-entity(
      environment="preset: tron; skyColor: #fff"
    )
